<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="text-center">
<div class="jumbotron">
    <h2 class="display-5">Welcome to URL simplifier!</h2>
    <form action="/" method="POST">
        <div>
            <label>Original URL</label>
            <input type="url" id="url" name="url" placeholder="Enter the url to simplify" size="40" required><br>
            <input class="btn btn-primary" type="submit" value="Submit"><br>
        </div>
    </form>
    {% if short_url %}
    <div>
        <p class="lead">
            <label>The shortened URL is:</label><br>
            <a id="sh1" href="{{short_url}}">{{short_url}}</a>
            <input class="btn btn-dark" type="button" value="copy" onclick="copyToClipboard()"><br>
        </p>
    </div>
    {% endif %}
</div>
</body>
<footer>
    <p class="lead">
        &copy; Abhilash, <script>document.write( new Date().getFullYear() );</script>
    </p>
</footer>
<div id="temp"></div> <!-- for temporary use -->
<script type="text/javascript">
function copyToClipboard() {
  var surl = document.getElementById("sh1");
  var tempHtml = "<textarea id='copy-text' style='opacity: 0'>"+surl.innerHTML+"</textarea>";
  document.getElementById("temp").innerHTML = tempHtml;
  var text = document.getElementById("copy-text");
  text.select();
  document.execCommand("copy");
}

</script>
</html>
